.Tickers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  margin-top: 3em;
}

.MainContent {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4em 3em;
  padding-bottom: 8em;
  text-align: center;
}

.FunctionPanel {
  display: flex;
}

.FilterPanel {
  position: relative;
  flex-grow: 3;
  padding: 3px;
}

.Filter {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 0.25rem;
  background: #d2cca1;
  font-size: 1.5em;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}

.CoinsAmount {
  position: absolute;
  right: 0;
  font-size: 1.2em;
  padding: 0.4em;
  top: 5px;
  font-weight: 500;
  display: flex;
}


.CoinsAmount i {
  animation: spin 1s infinite;
  margin: 0 5px;
}

.CoinsAmount strong {
  margin: 0 5px;
}

@keyframes spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(359.9999999999999deg)}
}

.FixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #eee5e5;padding: 10px 0;
  box-shadow: 0 5px 15px #00000085;
}

.ToTop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  background: #F7AF9D;
  border-radius: 50%;
  padding: 10px;
}


@media (max-width: 580px) {
  .FunctionPanel {
    align-items: center;
  }
}

@media (max-width: 320px) {
  .MainContent {
    padding: 4em 1.5em;
  }
}