body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #eee5e5;
}

.page-header {
  background: #ddcecd;
  text-align: center;
  box-shadow: 0px 6px 10px -3px #6b9080;
  padding: 25px;
}

.page-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

.filter-tool {
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
}

.filter-tool input[type='text'] {
  width: 60%;
  font-size: 1.5em;
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
  background: #896a3e;
  color: black;
}
.filter-tool input[type='text']::placeholder {
  color: black;
}

.filter-tool button:hover {
  background: rgb(80, 81, 84);
}

.num-of-coins {
  padding: 10px;
  margin-bottom: 50px;
  background: #896a3e;
  font-size: 1.3em;
  border-radius: 2px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.coin-table {
  font-size: 1.1em;
  width: 100%;
  border-collapse: collapse;
  border-radius: 2px;
}

.coin-table td,
.coin-table th {
  padding: 8px;
  position: relative;
}

.coin-table th:first-child,
.coin-table td:first-child {
  padding-left: 30px;
}

.coin-table th {
  text-align: left;
  padding: 15px 8px;
  background: #d2b186;
}

.coin-table td {
  background: #eae2d1;
}

.coin-table td img {
  padding-top: 5px;
  margin-right: 8px;
}

.sort-button.selected.desc::after {
  content: '';
  width: 0;
  height: 0;
  margin-right: 3px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  right: 0.2em;
  top: 1.3em;
  border-bottom: 5px solid black;
  border-top: none;
}

.sort-button.selected::after {
  content: '';
  width: 0;
  height: 0;
  margin-right: 3px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  right: 0.2em;
  top: 1.5em;
  border-top: 5px solid black;
}

.sort-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 500px) {
  .coin-table {
    font-size: 0.8em;
  }
}
