body {
  margin: 0;
  background: #D7B29D;
  font-family: 'Montserrat', sans-serif;
}

.page-header {
  background: #E8D2AE;
  text-align: center;
  box-shadow: 0px 6px 10px -3px #6B9080;
  padding: 25px;
}

.page-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

.filter-tool {
  justify-content: center;
  display: flex;
  margin-bottom: 60px;
}

.filter-tool input[type='text'] {
  width: 60%;
  font-size: 1.5em;
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
}

.filter-tool button:hover {
  background: rgb(80, 81, 84);
}

.coin-table {
  font-size: 1.1em;
  width: 100%;
  border-collapse: collapse;
}

.coin-table td, .coin-table th {
  border: 1px solid #2A4849;
  padding: 8px;
  position: relative;
}

.coin-table th {
  text-align: left;
  padding: 15px 8px;
}

.coin-table td img {
  padding-top: 5px;
  margin-right: 8px;
}

.sort-button.selected.desc::after {
  content: "";
  width: 0; 
  height: 0;
  margin-right: 3px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  right: .2em;
  top: 1.3em;
  border-bottom: 5px solid black;
  border-top: none;
}

.sort-button.selected::after {
  content: "";
  width: 0; 
  height: 0;
  margin-right: 3px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  right: .2em;
  top: 1.5em;
  border-top: 5px solid black;
}

.sort-button:hover {
  text-decoration: underline;
  cursor: pointer;
}