.Coin {
  text-align: center;
  background: #AAB9CF;
  border-radius: .5rem;
  border-bottom: 5px solid #8693AB;
  color: #212227;
  padding: 20px 0;  
  font-weight: 500;
}

.Coin img {
  margin-right: 7px;
}

.Coin h4 { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.33em auto;
  width: 90%;
}

.Coin h4 > span {
  max-width: 80%;
}

.Red {
  color: red;
}

.Green {
  color: green;
}